/* Sidebar */
.sidebar {
  min-width: 261px;
  border-right: 1px solid var(--clr-lines);
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--clr-bg-sidebar);

  h2 {
    padding: 0 2.5em 1.3em;
    color: var(--clr-text-accent);
    font-size: var(--fs-100);
    font-weight: var(--fw-bold);
    letter-spacing: var(--cs-hs);
  }
}
.f-sidebar-header {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  letter-spacing: var(--cs-hs);
  color: var(--clr-text-accent);
}

.f-sidebar-board-title {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: var(--lh-m);
  color: var(--clr-text-accent);

  &:hover {
    color: var(--clr-primary);
  }
}

.f-sidebar-new {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: var(--lh-m);
  color: var(--clr-primary);
}

.f-sidebar-hide {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: var(--lh-m);
  color: var(--clr-text-accent);

  &:hover {
    color: var(--clr-primary);
  }
}

.board-active-title {
  color: var(--clr-active-board-text);
}

.active-board-sidebar {
  background-color: var(--clr-primary);
}

.f-sidebar__board {
  color: var(--clr-text-accent);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: var(--lh-m);

  &:hover {
    color: var(--clr-primary);
  }
}

.sidebar-no-select {
  &:hover {
    background-color: var(--clr-sidebar-board-hover);

    h3 {
      color: var(--clr-primary);
    }
    svg {
      fill: var(--clr-primary);
    }
  }
}

.sidebar__board-item {
  padding: 1em 0;
  gap: 1em;
  width: 90%;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
}

.sidebar__show {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2em;
  background-color: var(--clr-primary);
  border-radius: 0 100px 100px 0;
  padding: 1.3rem;

  &:hover {
    cursor: pointer;
    background-color: var(--clr-primary-hover);
  }

  svg {
    transform: scale(1.3) translateX(-0.2em);
  }
}
.sidebar__top {
  padding-top: 1em;
}

.sidebar__bottom {
  padding-bottom: 2em;
}

.f-sidebar-active-board {
  color: var(--clr-neutral-100);

  &:hover {
    color: var(--clr-neutral-100);
  }
}

.sidebar__new-board {
  display: flex;
  align-items: center;
  padding: 1em 0;
  gap: 1em;
}
.f-sidebar__new-board {
  color: var(--clr-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: var(--lh-m);
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}

.sidebar-hide {
  bottom: 2em;
  gap: 1em;
  width: 90%;
  padding: 1em 0;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;

  span {
    color: var(--clr-text-accent);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    line-height: var(--lh-m);
  }

  &:hover {
    background-color: var(--clr-sidebar-board-hover);

    svg {
      fill: var(--clr-primary);
    }
    span {
      color: var(--clr-primary);
    }
  }
}

.sidebar__account {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 1em 0;
  gap: 1em;

  &__login {
    color: var(--clr-neutral-100);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);

    line-height: var(--lh-m);
    background-color: var(--clr-primary);
    padding: 1em 2em;
    border-radius: 24px;
    cursor: pointer;

    &:hover {
      box-shadow: var(--shadow-modal);
    }
  }

  &__signup {
    color: var(--clr-text);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    line-height: var(--lh-m);
    border: 1px solid var(--clr-lines);
    padding: 1em 2em;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: var(--shadow-modal);
    }
  }
}
.sidebar__board-list {
  max-height: 50vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 2px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--clr-bg-scrollbar);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrollbar);
    border-radius: 10px;
  }
}

.f-sidebar__account {
  color: var(--clr-text);
}

.sidebar__themes {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 1em 0;
  margin: 0 1.5em;

  justify-content: center;
  background-color: var(--clr-bg-theme-switcher);
  border-radius: 6px;
}

@media screen and (min-width: 62em) {
  .sidebar {
    min-width: 300px;
    border-right: 1px solid var(--clr-lines);
    min-height: 100%;
  }
}
